* {
    margin: 0;
    padding: 0;
}

.top-continer {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top-left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.top-left h1 {
    text-align: center;
    margin-top: 50px;
    color: #34688b;
    font-size: 44px;
    font-weight: 600px;
    font-family: poppins;
}

.bg-img {
    position: relative;
    margin-top: 34px;
}

.bg-img img {
    margin-top: 25px;
    width: 100%;
    border-radius: 0px 100px 100px 0px;
}

.bg-img .on-img-txt {
    position: absolute;
    top: 150px;
    left: 80px;
    color: white;
    font-size: 70px;
    font-family: poppins;
}

.top-right {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.blue-box {
    position: absolute;
    top: -280px;
    right: -266px;
    transform: rotate( 39deg);
    z-index: 1;
    width: 798px;
    height: 532px;
    background-color: #34688b;
}

.top-right h1 {
    position: absolute;
    top: 48px;
    right: 38px;
    font-size: 55px;
    z-index: 2;
    color: white
}

.top-right img {
    width: 80%;
}

.bottom-continer {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bottom-main {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bottom-left {
    margin: 50px 0px 0px 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bottom-left-container {
    width: 80%;
}

.bottom-left-data {
    display: flex;
    margin-top: 20px;
}

.icon {
    width: 60px;
    size: 80px;
    margin-right: 60px;
    margin-top: 10px;
}

.bottom-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.web-app-container {
    display: flex;
    justify-content: center;
}

.web-app {
    margin-top: 80px;
    text-align: right;
    display: flex;
    align-items: center;
}

.web-app i {
    width: 4px;
    height: 40px;
}

.stores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.store-img {
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-img img {
    margin-top: 80px;
    width: 70%;
}

#comp {
    height: 200%;
    width: 130%;
    margin-left: -160px;
    position: relative;
    z-index: 2;
    object-fit: cover;
}

#logo {
    float: right;
    position: relative;
    margin-right: 50px;
    margin-top: 80px;
    width: 300px;
    z-index: 2;
}

.bottom-left-data h3 {
    font-size: 26px;
    font-family: poppins;
    color: #0ca3e1;
    margin-left: -25px;
}

.bottom-left-data ul li {
    font-size: 22px;
    font-family: poppins;
    font-weight: 100px;
}

.top-left .bg-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
}

.icon #ic {
    width: 70px;
}

.bottom-right .web-app #link {
    font-family: poppins;
    font-size: 30px;
    color: #34688b;
    
}

.bottom-right .web-app h1 {
    font-family: poppins;
    color: #7a7a7a;
}
